.mainPage {
    width: 100dvw;
    min-height: 100dvh;

    display: flex;

    &__mainBlock,
    &__sideBlock {
        text-align: center;

        &__title {
            padding: $ui-step * 3 0;

            border-bottom: 1px solid $primary-black;
        }
    }

    &__sideBlock {
        width: 17%;
    }

    &__mainBlock {
        width: 66%;

        border: 1px solid $primary-black;
        border-top: none;
        border-bottom: none;
    }
}