.mainPage {
    width: 100dvw;
    height: 100dvh;

    display: flex;

    overflow: hidden;

    &__mainBlock,
    &__sideBlock {
        
        &__title {
            height: $ui-step * 15;

            padding: $ui-step * 3 0;
            
            border-bottom: 1px solid $primary-black;

            text-align: center;
        }
    }

    &__sideBlock {
        width: 17%;
    }

    &__mainBlock {
        width: 66%;
        height: 100%;

        border: 1px solid $primary-black;
        border-top: none;
        border-bottom: none;

        &__canvas {
            position: relative;

            width: 100%;
            height: calc(100% - #{$ui-step} * 15);

            overflow: clip;
        }
    }
}