/* ===== Colors ===== */

$primary-black: #131313;
$primary-fon: #F8F8F8;
$primary-white: #fefefe;
$primary-red: #ec5050;
$primary-green: #017101;
$primary-blue: #2148c0;

$secondary-gray: #8c8c8c;
$secondary-dark-gray: #505050;
$secondary-light-gray: #E0E0E0;
$secondary-light-red: #fdd7d7;

/* ================== */